@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Header.css */

.nav-link {
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: normal;
}

.nav-link:hover {
  background-color: lightblue;
}

.nav-link.active {
  font-weight: bold;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.nav-item .dropdown-menu .nav-link {
  font-weight: normal;
}

